<% provide(:title, 'Welcome') %>
<section class="success" id="welcome">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1 text-center">
        <%= image_tag(@user_pic, alt: "Picture of "+@user_profile["name"], class: "img-circle img-thumbnail") %>
        <p style="margin-top: 15px;">Welcome, <%= @user_profile["name"] %></p>
      </div>
      <div class="col-lg-6 text-center">
        <p>This is an application that recommends gifts for you to buy based on a choosen friends facebook interests.</p>
        <hr class="star-light">
        <!-- <hr class="star-primary"> -->
        <p>To start you can search for an specific friend</p>
        <!-- mudar esse action! -->
        <form class="form-inline" role="form" method="get" action="/search">
          <div class="input-group">
            <label class="sr-only" for="friendsName">Friend&#39;s Name</label>
            <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
            <input type="text" name="name" class="form-control" id="friendsName" placeholder="Enter your friend&#39;s name" size="40">
          </div>
        </form>

        <br>
        <p>Or pick someone with an upcoming birthday</p>
        <div class="friend-list">
          <ul class="list-group">
            <!--Colocar uma condição pra só listar a partir do mes e dia atual e definir um limite de 1 mes a partir dessa data -->
            <% @friends.each do |f| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-lg-3">
                  <%= image_tag(f["picture"]["data"]["url"] , alt: "Picture of "+f["name"], class: "media-object pull-left img-thumbnail") %>
                </div>
                <div class="col-lg-7" style="text-align:left;">
                  <p><%= link_to f["name"], f["link"], :target => '_blank'%></p>
                  <p class="friend-item-bday">
                    <% if f["birthday"] %>
                      <% bday = f["birthday"].split('/') %>
                      Birthday on <%= bday[1]+'/'+bday[0] %>
                    <% end -%>
                  </p>
                </div>
                <div class="col-lg-2">
                  <br>
                  <a type="button" class="btn btn-default pull-right" href="/friendsprofile/<%= f["id"]%>"><i class="fa fa-arrow-right"></i></a>
                </div>
              </div>
            </li>
            <% end -%>
          </ul>
        </div> <!-- /friend-list -->
      </div> <!-- /col-lg-6 text-center -->
    </div> <!-- /row -->
  </div> <!-- /container -->
</section>

<%= render( :partial => 'layouts/jsincludesnormal.html', :formats => [:html]) %>
<script>
var availableTags = [
    <% @friends.each do |friend| %>
          { label: '<%= friend["name"] %>' , the_link: '/friendsprofile/<%= friend["id"] %>' },
    <% end -%>
    ];
$( "#friendsName" ).autocomplete({
      source: availableTags,
      select:function(e,ui) { 
      location.href = ui.item.the_link;
    //  console.log(ui.item.the_link);
}
});
</script>