<% provide(:title, @friend_profile["first_name"]+"&#39;s interests") %>
<section id="welcome">
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-lg-2 text-center"></div>
			<div class="col-lg-8 text-center">
				<h3><%= @friend_profile["first_name"] %>&#39;s Interests</h3>
				<hr class="star-primary">
				<p>Those are <%= @friend_profile["gender"]=="female"  ? 'her' : 'his' %> interests, please choose one category to get gift recommendations.</p>
				<br>
				<div id="chartdiv" class="jqplot-pie-series jqplot-data-label"></div>
			</div> <!-- /col-lg-6 text-center -->
			<div class="col-lg-2 text-center"></div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</section>




<%= render( :partial => 'layouts/jsincludepiechart.html', :formats => [:html]) %>

<script type="text/javascript">
	$(document).ready(function(){
		var themeChart = {
			legend: {
				fontSize: '18pt',
				border: '0px solid black'
			},
			grid: {
				drawGridLines: false,
				gridLineColor: '#ffffff', 
            			background: '#ffffff',      // CSS color spec for background color of grid.
            			borderColor: '#ffffff',
            		}
            	}
            	var data = [
            	<% @categories.each do |key, value| %>
            		['<%= key %>' , <%= value %>],
            	<% end -%>
            	];
            	var plot1 = jQuery.jqplot ('chartdiv', [data],
            	{
            		seriesDefaults: {
			        // Make this a pie chart.
			        renderer: jQuery.jqplot.PieRenderer,
			        trendline:{ show: true },
			        rendererOptions: {
				          // Put data labels on the pie slices.
				          // By default, labels show the percentage of the slice.
				          showDataLabels: true
				      }
				  },
				  legend: { show:true, location: 'e' },
				  //title: 'Interests'
				  seriesColors: [ "#1b9e77", "#d95f02", "#7570b3", "#e7298a", "#66a61e", "#fff62f"], 
				}
				);
            	plot1.themeEngine.newTheme('legendBiggerFont', themeChart);
            	plot1.activateTheme('legendBiggerFont');
            });
$('#chartdiv').bind('jqplotDataClick',
	function (ev, seriesIndex, pointIndex, data) {
		var link = "";
		<% @links_categories.each do |ctg, link| %>
			if (data[0] == '<%= ctg %>'){
				link = '<%= link %>';
			}	
		<% end -%>
		window.location.href=link;
	});

</script>